@media only screen and (min-width: 1200px),
only screen and (min-device-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media only screen and (max-width: 1199px),
only screen and (max-device-width: 1199px) {
  .container {
    width: 900px;
  }
  .box {
    width: 50%;
  }
  .imgs-elem {
    width: 33.3333%;
  }
  .imgs-link {
    height: 120px;
  }
  .contact-form {
    margin-left: 285px;
  }
}

@media only screen and (max-width: 899px),
only screen and (max-device-width: 899px) {
  .container {
    width: 600px;
  }
  .box {
    width: 100%;
  }
  .imgs-elem {
    width: 50%;
  }
  .contact-form {
    margin-left: 280px;
  }
}