@import "compass";
@import "colors";

.btn {
  @include transition(all, 0.3s, ease);
  @include text-shadow(rgba(#000, 0.7) 1px 1px 1px);
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  padding: 4px 12px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid $red;
  background: #fa0e00; /* Old browsers */
  background: -moz-linear-gradient(top, #fa0e00 0%, #e20c00 40%, #bb0900 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fa0e00 0%,#e20c00 40%,#bb0900 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fa0e00 0%,#e20c00 40%,#bb0900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa0e00', endColorstr='#bb0900',GradientType=0 ); /* IE6-9 */
  &:hover,
  &:active,
  &:focus {
    border-color: $red;
    background: #bb0900; /* Old browsers */
    background: -moz-linear-gradient(top, #bb0900 0%, #e20c00 40%, #fa0e00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #bb0900 0%,#e20c00 40%,#fa0e00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #bb0900 0%,#e20c00 40%,#fa0e00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb0900', endColorstr='#fa0e00',GradientType=0 ); /* IE6-9 */
  }
}
.btn-big {
  padding: 10px 55px;
}
